@import '../../../styles/_variables.scss';

.step-widget {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  user-select: none;
  .step-container {
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
    color: $nera-grey-dark;
    padding: 4px 0px;
    &.active {
      color: white;
      background-color: $nera-orange;
      border-radius: 5px;
    }
  }
}