$nera-orange: #fa7252;
$nera-orange-light: lighten(#fa7252, 20%);
$nera-orange-darker: #de5939;
$nera-grey: #e9f0f5;
$nera-grey-dark: darken(#e9f0f5, 10%);
$nera-grey-darker: #3b4648;
$nera-dark: #273135;