@import "./variables";
@import "./flex";
@import "./main";

@import "./nera";
@import "./pedro";
@import "./colors";
@import "./theme";
@import "./modal";

@import "./lib/react-bootstrap-table.min";
@import "./lib/quill/quill-base";
@import "./lib/quill/quill-snow";

$fa-font-path: "~font-awesome/fonts/";

@import "~font-awesome/scss/font-awesome";

* {
    outline: none !important;
}

#body {
    margin-left: 250px;
    height: 100%;
}

body {
    background-color: #e9f0f5;
}

.spaced-items-container {
    .flexed-item {
        padding-left: 8px;
        padding-right: 8px;

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }
    }
}

.rubix-panel-body {
    background-color: white;
}

$col-spacing: 12px;

.cursor-pointer {
    cursor: pointer;
}

.notifications-tr {
    width: 450px !important;
}

$tab-body-top: 75px;
$fixed-header-height: 50px;

.tab-body {
    margin-top: $tab-body-top;
    padding: 15px;

    &.with-header {
        margin-top: $tab-body-top + $fixed-header-height;
    }
}

.fixed-header {
    position: fixed;
    width: 100%;
    max-height: $fixed-header-height;
    z-index: 10;
    padding: 10px 15px;
    top: $tab-body-top;
    background-color: $nera-grey;
    box-shadow: 2px 3px 13px -6px rgba(0, 0, 0, 0.75);
}

.row-eq-height {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    padding: 0px $col-spacing;

    .col-eq {
        padding: 0px $col-spacing;
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;

        .panel {
            flex: 1 0 100%;
            position: relative;
            margin-bottom: 0 !important;

            .panel-body {
                margin-bottom: 52px;
            }

            .panel-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
            }
        }
    }
}

.panel.panel-default {
    border-radius: 0px;
    border-width: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;

    .panel-heading {
        padding: 5px 10px;
        font-weight: bold;
        color: $nera-dark;
        border-bottom: 3px solid $nera-orange;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: white;
    }

    .panel-body {
        padding: 10px 15px;
        padding-bottom: 25px;
        padding: 20px 15px;
        background-color: white;
    }

    .panel-footer {
        padding: 8px 15px;
        background-color: white;
        border-top: 1px solid #ddd;
    }
}
