@import "../../../styles/_variables.scss";

.sortableHelper {
    background: inherit;
    // border-top: 3px solid $nera-orange;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 12;
}

.TabsComponents {
    display: flex;
    margin-left: 13.7rem;
    padding-left: 15px;
    height: 58px;
    align-items: flex-end;
    position: fixed;
    width: 60%;
    z-index: 10;
    user-select: none;

    .tab-list {
        display: flex;
        flex-direction: row;

        .tab-item {
            z-index: 11;
            height: 4rem;
            width: auto;
            position: relative;
            flex: 2 1 0%;
            flex-shrink: 0;
            padding-left: 15px;
            margin-right: 5px;
            display: flex;
            cursor: pointer;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;

            &:hover {
                opacity: 0.6;
            }

            .tab-text {
                display: flex;
                align-items: center;
                flex-grow: 1;
                padding-right: 15px;

                span {
                    color: #FFC497;
                    text-transform: uppercase;
                    font-size: 0.8125rem;
                    max-width: 139px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden !important;
                    font-weight: 500;
                }
            }

            .tab-close {
                padding-right: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    padding-left: 2px;
                    background-color: whitesmoke;
                    color: #1f2528;
                }
            }

            &.tab-active {
                border-bottom: 3px solid white;
                cursor: default;

                .tab-text {
                    span {
                        color: #FFFFFF;
                        font-size: 0.75rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
